@import "styles/main";

.empty-profile {
  @include sofia-pro-light;

  align-items: center;
  background-color: $tc-white;
  color: $tc-gray-80;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 330px;
  justify-content: space-around;
  padding-top: 3 * $base-unit;
  text-align: center;

  h2 {
    font-size: 22px;
    font-weight: 500;
  }
}
