@import "styles/main";

.loading-wrapper {
  width: 100%;
  height: 100vh;
  border-radius: $border-radius-lg;
  background-color: $tc-white;
  padding: 223px 0px;

  .loading-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > h6 {
      margin-top: 15px;
      font-size: 20px;
      color: $tc-turquoise-dark1;
      line-height: 24px;
      @include barlow-bold;
    }
  }
}
